In [20]:
# El fichero titanic.csv contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:
# a) Generar un DataFrame con los datos del fichero.

import pandas as pd
import numpy as np

pd.options.display.max_columns = None
df = pd.read_csv('titanic.csv')

print(df.head())

   PassengerId  Survived  Pclass
0            1         0       3  \
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp
0                            Braund, Mr. Owen Harris    male  22.0      1  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [28]:

# b) Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene,
# los nombres de sus columnas y filas, los tipos de
# datos de las columnas, las 10 primeras filas y las 10 últimas filas

import pandas as pd
import numpy as np

df = pd.read_csv('titanic.csv')

print('Dimensiones: ', df.shape)
print('--------------------------')
print('Número de datos: ', df.size)
print('--------------------------')
print('Nombres de columnas: ', df.columns)
print('--------------------------')
print('Nombres de filas: ', df.index)
print('--------------------------')
print('Tipos de datos: ', df.dtypes)
print('--------------------------')
print('Primeras 10 filas: ', df.head(10))
print('--------------------------')
print('Últimas 10 filas: ', df.tail(10))
print('--------------------------')

Dimensiones:  (891, 12)
--------------------------
Número de datos:  10692
--------------------------
Nombres de columnas:  Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
--------------------------
Nombres de filas:  RangeIndex(start=0, stop=891, step=1)
--------------------------
Tipos de datos:  PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
--------------------------
Primeras 10 filas:     PassengerId  Survived  Pclass
0            1         0       3  \
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp
0                            Braund, Mr. Owen Harris    male  22.0      1  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C
--------------------------
Últimas 10 filas:       PassengerId  Survived  Pclass                                      Name
881          882         0       3                        Markun, Mr. Johann  \
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q
--------------------------

In [29]:
# c) Mostrar por pantalla los datos del pasajero con identificador PassengerId 148.
import pandas as pd
import numpy as np

df = pd.read_csv('titanic.csv')

print(df.loc[df['PassengerId'] == 148])

     PassengerId  Survived  Pclass                              Name     Sex
147          148         0       3  Ford, Miss. Robina Maggie "Ruby"  female  \

     Age  SibSp  Parch      Ticket    Fare Cabin Embarked
147  9.0      2      2  W./C. 6608  34.375   NaN        S

In [42]:
# d) Mostrar por pantalla las filas pares del DataFrame.
import pandas as pd
import numpy as np

df = pd.read_csv('titanic.csv')
print(df.iloc[::2])

     PassengerId  Survived  Pclass
0              1         0       3  \
2              3         1       3
4              5         0       3
6              7         0       1
8              9         1       3
..           ...       ...     ...
882          883         0       3
884          885         0       3
886          887         0       2
888          889         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp
0                              Braund, Mr. Owen Harris    male  22.0      1  \
2                               Heikkinen, Miss. Laina  female  26.0      0
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
..                                                 ...     ...   ...    ...
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
2        0  STON/O2. 3101282   7.9250   NaN        S
4        0            373450   8.0500   NaN        S
6        0             17463  51.8625   E46        S
8        2            347742  11.1333   NaN        S
..     ...               ...      ...   ...      ...
882      0              7552  10.5167   NaN        S
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
888      2        W./C. 6607  23.4500   NaN        S
890      0            370376   7.7500   NaN        Q

[446 rows x 12 columns]

In [43]:
# e) Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.

import pandas as pd
import numpy as np

df = pd.read_csv('titanic.csv')

print(df[df['Pclass'] == 1]['Name'].sort_values())

730                      Allen, Miss. Elisabeth Walton
305                     Allison, Master. Hudson Trevor
297                       Allison, Miss. Helen Loraine
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                                Anderson, Mr. Harry
                            ...
155                        Williams, Mr. Charles Duane
351             Williams-Lambert, Mr. Fletcher Fellows
55                                   Woolner, Mr. Hugh
555                                 Wright, Mr. George
325                           Young, Miss. Marie Grice
Name: Name, Length: 216, dtype: object

In [49]:
# f) Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
import pandas as pd
import numpy as np

df = pd.read_csv('titanic.csv')
df['Survived'] = df['Survived'].map({0: 'Murieron', 1: 'Sobrevivieron'})

print(df['Survived'].value_counts(normalize=True).mul(
    100).round(1).astype(str) + '%')

Survived
Murieron         61.6%
Sobrevivieron    38.4%
Name: proportion, dtype: object

In [63]:
# g) Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase...
import pandas as pd
import numpy as np

df = pd.read_csv('titanic.csv')
df['Survived'] = df['Survived'].map({0: 'Murieron', 1: 'Sobrevivieron'})

print(df.groupby('Pclass')['Survived'].value_counts( normalize=True).mul(100).round(1).astype(str) + '%')

Pclass  Survived
1       Sobrevivieron    63.0%
        Murieron         37.0%
2       Murieron         52.7%
        Sobrevivieron    47.3%
3       Murieron         75.8%
        Sobrevivieron    24.2%
Name: proportion, dtype: object

In [55]:
# h) Eliminar del DataFrame los pasajeros con edad desconocida.

import pandas as pd
import numpy as np

df = pd.read_csv('titanic.csv')
print("Conteo Inicial: ", df.shape)
print("Conteo Pasajeros edad desconocidad: ", df[df['Age'].isnull()].shape)

df.dropna(how='all', subset=['Age'], inplace=True)

print("Conteo Luego de borrar", df[df['Age'].notnull()].shape)

Conteo Inicial:  (891, 12)
Conteo Pasajeros edad desconocidad:  (177, 12)
Conteo Luego de borrar (714, 12)

In [68]:
# i) Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.

import pandas as pd
import numpy as np

df = pd.read_csv('titanic.csv')



#print("Edad media mujeres",df[df['Sex'] == 'female']['Age'].mean()) # Edad media mujeres 27.915708812260537

# Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.

<pandas.core.groupby.generic.SeriesGroupBy object at 0x00000235151FA4D0>

AttributeError: 'NoneType' object has no attribute 'mean'

In [13]:
# j) Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
import pandas as pd
import numpy as np

df = pd.read_csv('titanic.csv')
df['is_minor'] = df['Age'] < 18
print(df.head())

   PassengerId  Survived  Pclass
0            1         0       3  \
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp
0                            Braund, Mr. Owen Harris    male  22.0      1  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  is_minor
0      0         A/5 21171   7.2500   NaN        S     False
1      0          PC 17599  71.2833   C85        C     False
2      0  STON/O2. 3101282   7.9250   NaN        S     False
3      0            113803  53.1000  C123        S     False
4      0            373450   8.0500   NaN        S     False

In [14]:
# k) Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.
import pandas as pd
import numpy as np

df = pd.read_csv('titanic.csv')
df['is_minor'] = df['Age'] < 18
df.groupby(['Pclass', 'is_minor'])['Survived'].value_counts(normalize=True).map('{:.2%}'.format)

Pclass  is_minor  Survived
1       False     1           61.27%
                  0           38.73%
        True      1           91.67%
                  0            8.33%
2       False     0           59.01%
                  1           40.99%
        True      1           91.30%
                  0            8.70%
3       False     0           78.21%
                  1           21.79%
        True      0           62.82%
                  1           37.18%
Name: proportion, dtype: object