In [9]:
#2. Revise los datos cargados y realice las modificaciones necesarias para empezar a trabajar

print(df1.head())
print(df2.head())
print(df3.head())

            state abbreviation
46       Virginia           VA
47     Washington           WA
48  West Virginia           WV
49      Wisconsin           WI
50        Wyoming           WY
        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707
  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

In [ ]:
#3. Elimine las columnas que no aportan información

#???

In [14]:
#4. Agrupe por state/region y ages, para luego agregar usando promedio, mínimo, máximo y contar

print(df3.groupby(['state/region','ages'])['population'].agg(['mean','min','max','count']))

                              mean        min        max  count
state/region ages
AK           total    6.462048e+05   553290.0   735132.0     24
             under18  1.866730e+05   177502.0   192636.0     24
AL           total    4.484528e+06  4050055.0  4833722.0     24
             under18  1.111197e+06  1050041.0  1134927.0     24
AR           total    2.693178e+06  2356586.0  2959373.0     24
...                            ...        ...        ...    ...
WI           under18  1.344394e+06  1302869.0  1370440.0     24
WV           total    1.823426e+06  1792548.0  1856680.0     24
             under18  4.049168e+05   381678.0   436797.0     24
WY           total    5.103280e+05   453690.0   582658.0     24
             under18  1.322450e+05   123974.0   137733.0     24

[106 rows x 4 columns]

In [35]:
# 6. Calcule la población por área para cada estado. Para esto agrupe por state/region y 
# calcule el promedio de la población. Guarde dicha información en un data frame con las columnas 'state' y 'pop / area'
# (hint: puede extraer los valores de un objeto groupby, finalizando su sentencia con .values, o extraer sus etiquetas con .index)

# filtrar ages = 'total'
df_totales = df[df['ages']=='total']

df_totales['pop / area'] = df_totales['population']/df_totales['area (sq. mi)']


# agrupar por state/region
df_agrupado_state_region = df_totales.groupby('state/region')['pop / area'].mean()

# crear dataframe
df_resultados = pd.DataFrame({'state/region':df_agrupado_state_region.index, 'pop / area':df_agrupado_state_region.values})

print(df_resultados)

   state/region   pop / area
0            AK     0.984431
1            AL    85.545045
2            AR    50.640774
3            AZ    46.441414
4            CA   209.729195
5            CO    41.876976
6            CT   620.653454
7            DC  8633.371936
8            DE   410.937777
9            FL   250.867464
10           GA   140.920964
11           HI   114.886930
12           IA    52.205844
13           ID    15.995962
14           IL   213.591570
15           IN   168.100295
16           KS    32.837619
17           KY   100.871657
18           LA    85.661046
19           MA   600.473899
20           MD   434.173551
21           ME    36.366939
22           MI   101.504344
23           MN    56.966751
24           MO    80.900599
25           MS    58.425931
26           MT     6.229075
27           NC   153.856481
28           ND     9.249240
29           NE    22.322478
30           NH   132.460971
31           NJ   965.454149
32           NM    15.205630
33           NV    18.964557
34           NY   347.421846
35           OH   253.019954
36           OK    49.924540
37           OR    35.189296
38           PA   268.565664
39           RI   674.655852
40           SC   128.769307
41           SD     9.925185
42           TN   136.682968
43           TX    80.439992
44           UT    27.337324
45           VA   169.475551
46           VT    63.048596
47           WA    84.184271
48           WI    82.409353
49           WV    75.251790
50           WY     5.217118

C:\Users\Luis Reyes\AppData\Local\Temp\ipykernel_19280\846786070.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_totales['pop / area'] = df_totales['population']/df_totales['area (sq. mi)']

In [37]:
#7. Finalmente, cree un dataframe que posea: El estado, el área, la
# población, la población por área y como índice la abreviación del
# nombre del estado.

df_final = df.set_index('abbreviation')

print(df_final.head())

                state  area (sq. mi) state/region     ages  year  population
abbreviation
AL            Alabama          52423           AL  under18  2012   1117489.0
AL            Alabama          52423           AL    total  2012   4817528.0
AL            Alabama          52423           AL  under18  2010   1130966.0
AL            Alabama          52423           AL    total  2010   4785570.0
AL            Alabama          52423           AL  under18  2011   1125763.0